
<h1>The Labyrinth</h1>

<p class='body_text'>David Bowie looks awesome in this movie.</p>
<p class='body_text'>Jennifer Connely's eyebrows look like sexy caterpillars.</p>

<div class='photo_div'>
<ul class='photo_gallery'>
<li><img class='photo' src='http://images2.fanpop.com/image/photos/9000000/Sarah-in-the-Midst-of-the-Labyrinth-labyrinth-9029189-1920-1080.jpg' /></li>
<li><img class='photo' src='http://madmuseum.org/sites/default/files/2011/03/alg_labyrinth.jpg' /></li>
<li><img class='photo' src='http://cdn3.denofgeek.us/sites/denofgeekus/files/bowie.jpg' /></li>
<li><img class='photo' src='http://d12vb6dvkz909q.cloudfront.net/uploads/galleries/16208/wedslabyrinth2.jpeg' /></li>
</ul>
</div>

<p><a class="link" href="/showtimes">When can you see The Labyrinth in theaters?</a></p>
